* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #FFFBF9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 320px;
  height: 320px;
  background: rgba(184, 158, 202, 0.5); /* #D8C6F2 50% */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-icon {
  font-size: 80px;
  color: #A4A5A5;
}

.slider-dots {
  display: flex;
  gap: 12px;
  margin-top: 30px;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  background: #D1D5DC;
  border-radius: 50%;
}

.dot.active {
  width: 32px;
  height: 6px;
  border-radius: 4px;
  background: #E89B9B;
}

/* RIGHT SIDE */

.right {
  max-width: 480px;
}

.right h1 {
  font-size: 48px;
  font-weight: 600;
  color: #2D2D2D;
  margin-bottom: 20px;
}

.right h3 {
  font-size: 22px;
  font-weight: 500;
  color: #E89B9B;
  margin-bottom: 20px;
}

.right p {
  font-size: 18px;
  line-height: 1.6;
  color: #4A5565;
  margin-bottom: 40px;
}

/* BUTTON */

.btn {
  width: 100%;
  padding: 18px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #E89B9B, #F4A5A5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
}

.arrow {
  font-size: 20px;
}

.skip {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #6A7282;
  text-decoration: none;
}

.skip:hover {
  text-decoration: underline;
}


@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  .right {
    max-width: 100%;
  }

  .btn {
    width: 100%;
  }
}